html, body {
    font-size: 14px;
    font-family: "微软雅黑", arial, sans-serif;
}

/***********************************************/
/*专题样式控制*/
/***********************************************/
.main-body {
    background: #fae2e8;
    width: 100%;
    position: relative;
}

.main-body img {
    display: block;
    width: 100%;
}

.header {
    padding-top: 46px;
}

/***********************************************/
/*专题title*/
/***********************************************/
.lottery-title {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: block;
    background: #f8f8f8;
    height: 46px;
    line-height: 46px;
    width: 100%;
    padding: 0 60px;
    font-size: 16px;
    color: #04112e;
}

.lottery-title a.lottery-back,
.lottery-title a.lottery-share {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 46px;
    width: 60px;
    text-indent: -9999px;
}

.lottery-title a.lottery-back:after,
.lottery-title a.lottery-share:after {
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    content: "";
    width: 10px;
    height: 18px;
    margin-top: -9px;
    background: url("../img/icon-back.png") no-repeat center;
    background-size: 100% 100%;
}

.lottery-title a.lottery-share {
    left: auto;
    right: 0;
}

.lottery-title a.lottery-share:after {
    width: 18px;
    height: 18px;
    margin-top: -9px;
    left: auto;
    right: 15px;
    background: url("../img/icon-share.png") no-repeat center;
    background-size: 100% 100%;
}

.lottery-title span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.header, .container, .banner,
.hot-product, .hot-product-title, .hot-product-list,
.recommend-product, .recommend-title, .recommend-list,
.favorable-box, .favorable-cont {
    position: relative;
    display: block;
    width: 100%;
}

.recommend-product {
    margin-bottom: 50px;
}

.favorable-cont {
    padding-top: 8%;
}

.favorable-left {
    float: left;
    width: 60%;
}

.favorable-left > ul {
    margin-top: 7px;
    padding-left: 8px;
}

.favorable-left > ul > li {
    margin-top: 10px;
    padding: 0 3px 0 8px;
}

.favorable-right {
    float: right;
    width: 40%;
}

.favorable-right img {
    position: relative;
    top: 2px;
    right: 2px;
}

/***********************************************/
/*结束*/
/***********************************************/

/***********************************************/
/*专题菜单*/
/***********************************************/
.lottery-menu {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
}

.lottery-menu.active {
    height: 36px;
    z-index: 12;
}

.lottery-menu.active .menu-container {
    position: fixed;
    top: 46px;
    left: 0;
    z-index: 1001;
}

.menu-container {
    display: block;
    width: 100%;
    height: 36px;
    overflow: hidden;
}

.menu-container ul {
    display: block;
    overflow: hidden;
}

.menu-container li {
    display: block;
    float: left;
    width: 25%;
}

.menu-container li a {
    position: relative;
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #7f0114;
    font-size: 14px;
    background: #ec5463;
    text-align: center;
    border-right: 1px dashed #b80c26;
}

.menu-container li.active a {
    color: #FFFFFF;
    background: #ff5d6e;
}

.menu-container li:last-child a {
    border-right: 0 none;
}

/***********************************************/
/*结束*/
/***********************************************/

/***********************************************/
/*产品列表*/
/***********************************************/
.hot-list {
    position: relative;
    display: block;
    width: 100%;
}

.hot-list a:nth-child(2) {
    display: block;
    width: 50%;
    height: 30%;
    position: absolute;
    bottom: 11%;
    /*background: rgba(0, 0, 0, 0.5);*/
}

.hot-list a.left {
    left: 4%;
}

.hot-list a.right {
    right: 4%;
}

.product-list {
    display: block;
    width: 100%;
    position: relative;
}

.product-list label {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.product-list ul, .product-list li {
    position: relative;
    display: block;
    width: 100%;
}

.product-cont {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.product-cont a {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}

.product-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18%;
}

.product-btn a {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.5);*/
}

.carBtn{
    text-indent: -999999px;
}

.shop-car-bax {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding-right: 80px;
    background: #f0eced;
    border-top: 1px solid #e1dede;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.shop-car-bax.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.shop-car-bax label {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    font-size: 12px;
    color: #666666;
}

.shop-car-bax i {
    font-style: normal;
    font-size: 13px;
}

.shop-car-bax span {
    color: #d50935;
    font-size: 13px;
}

.shop-car-bax a {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    background: #d50b37;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    width: 70px;
    margin-top: -13px;
}

/*.product-cont a:nth-child(1){
    background: #3f7f7f;
}
.product-cont a:nth-child(2){
    background: #1411ff;
}
.product-cont a:nth-child(3){
    background: #3eff2f;
}*/

.go-top {
    display: none;
    width: 33px;
    height: 33px;
    top: auto;
    left: auto;
    right: 10px;
    bottom: 50px;
}

.lottery-tag-img {
    position: fixed;
    right: 10px;
    bottom: 150px;
    z-index: 20;
    display: block;
    width: 47px;
    height: 57px;
}

.lottery-tag-img span.lottery-btn-img {
    display: block;
    width: 100%;
    height: 100%;
}

.lottery-tag-img span.lottery-btn-img.active {
    animation: rollIn 1s ease both;
    -webkit-animation: rollIn 1s ease both;
}

.lottery-tag-img span.lottery-btn-text {
    position: absolute;
    top: 5px;
    right: -8px;
    z-index: 99;
    display: block;
    width: 32px;
    height: 12px;
}

.lottery-tag-img span.lottery-btn-text.active {
    animation: tada 1s both;
    -webkit-animation: tada 1s both;
}

/********************************************/
/***********          弹窗动画          ***********/
/********************************************/
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.animate-infinite-linear {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: normal;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-animation-direction: normal;
}

/*旋转*/
@-webkit-keyframes rotateDeg {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateDeg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotateDeg {
    animation-name: rotateDeg;
    -webkit-animation-name: rotateDeg;
}

/*j弹窗动画*/
@-webkit-keyframes j-alert-ani {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes j-alert-ani {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.j-alert-ani {
    -webkit-animation-name: j-alert-ani;
    animation-name: j-alert-ani;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px)
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5);
        -ms-transform: translateX(5px);
        transform: translateX(5px)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

/*动画列表*/
@-webkit-keyframes tada {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10%, 20% {
        opacity: 1;
        -webkit-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }
    30%, 50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%, 60%, 80% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg)
    }
}

@keyframes tada {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    10%, 20% {
        opacity: 1;
        -webkit-transform: scale(0.9) rotate(-3deg);
        -ms-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }
    30%, 50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(3deg);
        -ms-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%, 60%, 80% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(-3deg);
        -ms-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg)
    }
}

@-webkit-keyframes rollIn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rollIn {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
