html, body {
    font-size: 14px;
    font-family: "微软雅黑", arial, sans-serif;
}

/***********************************************/
/*专题样式控制*/
/***********************************************/
.main-body {
    background: #f40839;
    width: 100%;
    position: relative;
}

.drinks-body {
    background: #0562e6;
}

.cargo-body {
    background: #fa4a92;
}

.cargo-body .buy-btn span {
    background: #f70a64;
}

.cargo-body .pro-new-price {
    color: #f50a66;
}
.snacks-body {
    background: #fec820;
}


.fresh-body {
    background: #ff5406 url("../img/fresh-bg.jpg") repeat-y;
    background-size: 100% auto;
}

.nutrition-body {
    background: #75d0ff;
}

.nutrition-body .buy-btn span {
    background: #428bfc;
}

.nutrition-body .pro-new-price {
    color: #ff5406;
}

.main-body img {
    display: block;
    width: 100%;
}

.header {
    padding-top: 46px;
}

/***********************************************/
/*专题title*/
/***********************************************/
.lottery-title {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: block;
    background: #f8f8f8;
    height: 46px;
    line-height: 46px;
    width: 100%;
    padding: 0 60px;
    font-size: 16px;
    color: #272727;
}

.lottery-title a.lottery-back,
.lottery-title a.lottery-share {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 46px;
    width: 60px;
    text-indent: -9999px;
}

.lottery-title a.lottery-back:after,
.lottery-title a.lottery-share:after {
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    content: "";
    width: 23px;
    height: 23px;
    margin-top: -12px;
    background: url("../img/icon-back.png") no-repeat center;
    background-size: 100% 100%;
}

.lottery-title a.lottery-share {
    left: auto;
    right: 0;
}

.lottery-title a.lottery-share:after {
    width: 21px;
    height: 20px;
    margin-top: -10px;
    left: auto;
    right: 15px;
    background: url("../img/icon-share.png") no-repeat center;
    background-size: 100% 100%;
}

.lottery-title span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.header, .container, .banner,
.hot-product, .hot-product-title, .hot-product-list,
.recommend-product, .recommend-title, .recommend-list,
.favorable-box, .favorable-cont {
    position: relative;
    display: block;
    width: 100%;
}

.hot-product-list {
    padding: 0 3px;
}

.hot-box {
    background: #560087;
    padding: 10px 6px;
}

.recommend-title {
    width: 100%;
    margin: 0 auto 6px;
}

.recommend-product {
    margin-bottom: 50px;
}

.favorable-cont {
    background: #630d85;
    padding: 15px 0;
}

.favorable-left {
    width: 100%;
}

.favorable-left > ul {
    /*margin-top: 7px;*/
    /*padding-left: 8px;*/
}

.favorable-left > ul > li {
    margin-top: 0;
    padding: 0 2px 0 3px;
}

.favorable-right {
    float: right;
    width: 40%;
}

.favorable-right img {
    position: relative;
    top: 2px;
    right: 2px;
}

/***********************************************/
/*结束*/
/***********************************************/

/***********************************************/
/*专题菜单*/
/***********************************************/
.lottery-menu {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
}

.lottery-menu.active {
    height: 34px;
    z-index: 12;
}

.lottery-menu.active .menu-container {
    position: fixed;
    top: 46px;
    left: 0;
    z-index: 1001;
}

.lottery-menu .swiper-container {
    width: 100%;
    height: 100%;
}

.lottery-menu .swiper-slide {
    position: relative;
    display: block;
    width: 28%;
    height: 34px;
    line-height: 34px;
    color: #aaaaaa;
    font-size: 12px;
    text-align: center;
    float: left;
}

.lottery-menu .swiper-slide.active {
    color: #FFFFFF;
    text-decoration: underline;
}

.lottery-menu .swiper-slide.active:before {
    position: relative;
    top: 2px;
    right: 3px;
    content: "";
    display: inline-block;
    width: 10px;
    height: 13px;
    background: url("../img/icon-area.png") no-repeat center;
    background-size: 100% 100%;
}

.menu-container {
    display: block;
    width: 100%;
    height: 34px;
    overflow: hidden;
    background: #010023;
}

.menu-container ul {
    display: block;
    overflow: hidden;
}

.menu-container li {
    display: block;
    float: left;
    width: 28%;
}

.menu-container li a {
    position: relative;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #aaaaaa;
    font-size: 12px;
    text-align: center;
}

.menu-container li.active a {
    color: #FFFFFF;
}

.menu-container li.active a:before {
    position: relative;
    top: 2px;
    right: 3px;
    content: "";
    display: inline-block;
    width: 9px;
    height: 12px;
    background: url("../img/icon-area.png") no-repeat center;
    background-size: 100% 100%;
}

.menu-container li:last-child a {
    border-right: 0 none;
}

/***********************************************/
/*结束*/
/***********************************************/

/***********************************************/
/*产品列表*/
/***********************************************/
.hot-list {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.hot-list:last-child {
    margin-bottom: 0;
}

.theme1 {
    background: #fbdd26;
}

.theme2 {
    background: #3db7ea;
}

.theme3 {
    background: #bfe200;
}

.theme4 {
    background: #0bbaa9;
}

.theme5 {
    background: #fa82c3;
}

.theme6 {
    background: #1dd882;
}

.theme1 .hot-pro-information:before {
    border-color: transparent #fbdd26 transparent transparent
}

.theme2 .hot-pro-information:before {
    border-color: transparent #3db7ea transparent transparent
}

.theme3 .hot-pro-information:before {
    border-color: transparent #bfe200 transparent transparent
}

.theme4 .hot-pro-information:before {
    border-color: transparent #0bbaa9 transparent transparent
}

.theme5 .hot-pro-information:before {
    border-color: transparent #fa82c3 transparent transparent
}

.theme6 .hot-pro-information:before {
    border-color: transparent #1dd882 transparent transparent
}

.theme1 .hot-pro-name {
    color: #be8917;
}

.theme2 .hot-pro-name {
    color: #ffef31;
}

.theme3 .hot-pro-name {
    color: #bc810d;
}

.theme4 .hot-pro-name {
    color: #ffef31;
}

.theme5 .hot-pro-name {
    color: #a77107;
}

.theme6 .hot-pro-name {
    color: #f5e529;
}

.theme1 .hot-pro-intro {
    color: #666666;
}

.theme2 .hot-pro-intro {
    color: #5c5c5c;
}

.theme3 .hot-pro-intro {
    color: #666666;
}

.theme4 .hot-pro-intro {
    color: #5c5c5c;
}

.theme5 .hot-pro-intro {
    color: #545454;
}

.theme6 .hot-pro-intro {
    color: #5c5c5c;
}

.theme1 .hot-price-old {
    color: #999999;
}

.theme2 .hot-price-old {
    color: #818080;
}

.theme3 .hot-price-old {
    color: #999999;
}

.theme4 .hot-price-old {
    color: #818080;
}

.theme5 .hot-price-old {
    color: #666666;
}

.theme6 .hot-price-old {
    color: #818080;
}

.theme1 .hot-price-new {
    color: #ff3136;
}

.theme2 .hot-price-new {
    color: #fffdfd;
}

.theme3 .hot-price-new {
    color: #e40011;
}

.theme4 .hot-price-new {
    color: #fffdfd;
}

.theme5 .hot-price-new {
    color: #e90516;
}

.theme6 .hot-price-new {
    color: #fffdfd;
}

.hot-list a {
    display: block;
    width: 100%;
    color: #000000;
}

.hot-pro-img {
    background: #FFFFFF;
    float: left;
    width: 54%;
}

.hot-pro-information {
    position: relative;
    float: left;
    width: 46%;
    padding: 13px 6px 0 10px;
}

.hot-pro-information:before {
    position: absolute;
    top: 32%;
    left: -16px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid;
}

.hot-pro-name {
    font-size: 15px;
    line-height: 20px;
}

.hot-pro-tips {
    font-size: 10px;
    /*height: 32px;*/
    line-height: 16px;
    color: #ee2225;
    margin: 5px 0;
}

.hot-pro-intro {
    color: #545454;
    font-size: 10px;
    line-height: 16px;
}

.hot-pro-price {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 46%;
    height: 40px;
    padding: 0 19% 0 10px;
}

.hot-price-old {
    color: #999999;
    text-decoration: line-through;
    font-size: 10px;
    line-height: 16px;
    display: block;
}

.hot-price-new {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #ff3136;
    font-size: 7px;
    font-weight: bold;
    margin-top: -1px;
}

.hot-price-new i {
    font-size: 18px;
}

.hot-list a.carBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 17.38%;
}

.product-list {
    display: block;
    width: 100%;
    position: relative;
}

.product-list ul {
    display: block;
    width: 100%;
    padding: 0 6px;
}

.product-list li {
    position: relative;
    display: block;
    width: 50%;
    float: left;
    padding: 0 3px;
    margin-bottom: 6px;
}

.pro-img {
    background: #FFFFFF;
    padding: 8px 8px 0;
}

.pro-intro {
    display: block;
    width: 100%;
    background: #eeeeee;
}

.drinks-body .pro-name,
.fresh-body .pro-name {
    background: #eeeeee;
    color: #333333;
    line-height: 20px;
    height: 20px;
}

.drinks-body .pro-price,
.fresh-body .pro-price {
    padding-top: 5px;
}

.pro-name {
    padding: 0 8px;
    font-size: 12px;
    color: #ffffff;
    line-height: 22px;
    height: 22px;
    background: #ea1e1f;
}

.fresh-body .pro-infor {
    color: #ff5406;
}

.pro-infor {
    color: #fb185d;
    display: block;
    width: 100%;
    min-height: 16px;
    padding: 0 8px;
    font-size: 10px;
}

.pro-price {
    display: block;
    width: 100%;
    padding: 8px 40px 2px 8px;
}

.pro-old-price {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    text-decoration: line-through;
}

.pro-new-price {
    color: #ea1e1f;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    margin-top: -2px;
}

.pro-new-price i {
    font-size: 10px;
}

.buy-btn {
    position: absolute;
    bottom: 6px;
    right: 8px;
    width: 62px;
}

.buy-btn span {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    padding: 3px 0;
    background: #ea1e1f;
}

.carBtn i {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    text-indent: -99999px;
}

.as-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: block;
    width: 100%;
    height: 42px;
    font-family: "黑体", arial, sans-serif;
}

.as-background {
    position: relative;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 42px;
    padding: 0 15px;
    background: rgba(255, 255, 255, 0.96);
}

.as-background > .float-left,
.as-background > .float-right {
    position: relative;
    height: 42px;
    line-height: 42px;
}

.as-background > .float-left > a {
    color: #272727;
    font-size: 14px;
}

.as-background > .float-right > a {
    color: #e40035;
    font-size: 13px;
    text-decoration: underline;
}

.as-background > .float-left > a:before {
    position: relative;
    top: 1px;
    right: 4px;
    display: inline-block;
    width: 17px;
    height: 12px;
    content: "";
    background: url("../img/icon-menu.png") no-repeat center;
    background-size: 100% 100%;
}

.as-background > .float-right > a:before {
    position: relative;
    top: 4px;
    right: 4px;
    display: inline-block;
    width: 17px;
    height: 17px;
    content: "";
    background: url("../img/icon-lottery.png") no-repeat center;
    background-size: 100% 100%;
}

.as-menu {
    position: absolute;
    left: 9px;
    bottom: 0;
    z-index: 10;
    display: block;
    width: 90px;
    background: #ffffff;
    padding: 10px 0;
}

.as-menu a {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #333333;
    font-size: 12px;
    padding: 0 20px 0 15px;
}

.as-menu a:after {
    position: absolute;
    top: 0;
    right: 0;
    content: ">";
    display: block;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.as-menu a.active {
    background: #fa3764;
    color: #ffffff;
}

.shop-car-bax {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding-right: 80px;
    background: #3f076f;
    /*border-top: 1px solid #e1dede;*/
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.shop-car-bax.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.shop-car-bax label {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    font-size: 12px;
    color: #FFFFFF;
}

.shop-car-bax i {
    color: #ff1313;
    font-size: 12px;
}

.shop-car-bax i#carNum {
    color: #FFFFFF;
}

.shop-car-bax span {
    color: #ff1313;
    font-size: 16px;
}

.shop-car-bax a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #d50b37;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    width: 80px;
}

/*.product-cont a:nth-child(1){
    background: #3f7f7f;
}
.product-cont a:nth-child(2){
    background: #1411ff;
}
.product-cont a:nth-child(3){
    background: #3eff2f;
}*/

.go-top {
    display: none;
    width: 33px;
    height: 33px;
    top: auto;
    left: auto;
    right: 10px;
    bottom: 50px;
}

.lottery-tag-img {
    position: fixed;
    right: 10px;
    bottom: 150px;
    z-index: 20;
    display: block;
    width: 47px;
    height: 57px;
}

.lottery-tag-img span.lottery-btn-img {
    display: block;
    width: 100%;
    height: 100%;
}

.lottery-tag-img span.lottery-btn-img.active {
    animation: rollIn 1s ease both;
    -webkit-animation: rollIn 1s ease both;
}

.lottery-tag-img span.lottery-btn-text {
    position: absolute;
    top: 5px;
    right: -8px;
    z-index: 99;
    display: block;
    width: 32px;
    height: 12px;
}

.lottery-tag-img span.lottery-btn-text.active {
    animation: tada 1s both;
    -webkit-animation: tada 1s both;
}

/********************************************/
/***********          弹窗动画          ***********/
/********************************************/
/*下方进入*/
.animated-bottom {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);

    transition: transform 0.5s 0s;
    -webkit-transition: transform 0.5s 0s;
    -o-transition: transform 0.5s 0s;
    -moz-transition: transform 0.5s 0s;
}

.animated-bottom.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    bottom: 42px;
}

.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.animate-infinite-linear {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: normal;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-animation-direction: normal;
}

/*旋转*/
@-webkit-keyframes rotateDeg {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateDeg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotateDeg {
    animation-name: rotateDeg;
    -webkit-animation-name: rotateDeg;
}

/*j弹窗动画*/
@-webkit-keyframes j-alert-ani {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes j-alert-ani {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.j-alert-ani {
    -webkit-animation-name: j-alert-ani;
    animation-name: j-alert-ani;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px)
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5);
        -ms-transform: translateX(5px);
        transform: translateX(5px)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

/*动画列表*/
@-webkit-keyframes tada {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10%, 20% {
        opacity: 1;
        -webkit-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }
    30%, 50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%, 60%, 80% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg)
    }
}

@keyframes tada {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    10%, 20% {
        opacity: 1;
        -webkit-transform: scale(0.9) rotate(-3deg);
        -ms-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }
    30%, 50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(3deg);
        -ms-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%, 60%, 80% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(-3deg);
        -ms-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg)
    }
}

@-webkit-keyframes rollIn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rollIn {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
